# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/
venv/

# HuggingFace model downloads
~/.cache/huggingface/
huggingface/
*.safetensors
*.bin
*.pth

# Transformers cached models
cache/
models/
*.msgpack

# PyTorch checkpoints
*.pt
*.ckpt

# Uvicorn logs
*.log

# SQLite DB
interactions.db

# macOS
.DS_Store
